lApp{
  width: 100%;
  overflow-x: hidden;
  color: #707070;
  font-family: "open sans";
  padding-top: 5%;
  display: block;
  padding-right: 5%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/*===comman css===*/

a{
  text-decoration: none;
  color: black;
  font-size: 16px;
}

ul,
li{
  list-style-type: none;
}

.page_wrape{
  width: 100%;
  overflow-x: hidden !important;
}

/*--main content----*/

.leaderboard-card {

background: #fff;
margin-bottom: 30px;
border-radius: 5px;
overflow: hidden;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.leaderboard-card.leaderboard-card--first {
transform: scale(1.05);
}

.leaderboard-card__top {
background: #f9f6ff;
padding: 20px 0 30px 0;

}
.leaderboard-card__body {
padding: 15px;
margin-top: -40px;

}

img.circle-img {
height: 70px;
width: 70px;
border-radius: 70px;
border: 3px solid #fff;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
img.circle-img.circle-img--small {
height: 55px;
width: 55px;
border-radius: 55px;
}

.lmain-content{
 
  margin-left: 250px;
  background-color: white;
  margin: 15px;
  margin-left: 275px;
  padding: 15px;
  box-shadow: 0 0 8px rgb(230, 230, 230);
}

.lmain-content .info-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.lmain-content .info-card .card{
  width: 31%;
  min-height: 220px;
  padding: 20px;
  background: linear-gradient(to left, #B576F6, #9a4fe9);
  border-radius: 10px;
  color: #fff;
  position: relative;
}

.lmain-content .info-card .card:nth-child(2){
  background: linear-gradient(to left, #6AA5E3, #6866E9);
}

.lmain-content .info-card .card:nth-child(3){
  background: linear-gradient(to left, #FEB683, #FF8993);
}

.lmain-content .info-card .card::before ,
.lmain-content .info-card .card::after{
  content: "";
  position: absolute;
  top: -5%;
  right: -15%;
  width: 150px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}

.lmain-content .info-card .card::after{
  top: auto;
  bottom: -5%;
  right: -5%;
}

.lmain-content .info-card .card .card-icon {
  margin-bottom: 15px;
  width: 70px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 8px #fff;

} 

.lmain-content .info-card .card .card-icon span  i{
  font-size: 50px;
  color: gold;
}

.lmain-content .info-card .card .card-detail{
  margin-bottom: 10px;
  margin-top: 25px;
}

.lmain-content .info-card .card .card-detail h2{
 text-align: center;
 font-size: 40px;
}

.lmain-content .info-card .card .card-detail h4 {
  color: #000;
  font-size: 20px;
}

.lmain-content .main-table .title{
  margin: 15px 0;
}

.lmain-content .user_table{
  display: grid;
}

.lmain-content .user_table table thead tr td{
  padding: 20px 0;
  font-weight: bold;
  color: #000;
  font-size: 25px;
}

.lmain-content .user_table table tbody tr td{
  padding: 15px 0;
  font-size: 20px;
  color: #2e2c2c;
}

.lmain-content .user_table tbody tr .btn{
  padding: 7px 25px;
  background: linear-gradient(to left, #B576F6, #9a4fe9);
  border-radius: 3px;
  display: inline-block;
  color: #fff;
}




/*-responsive media query-*/
@media screen and (max-width:767px){

  .lmain-content .info-card .card{
      width: 48%;
      margin-bottom: 15px;
  }

  
  .lmain-content .user_table {
      overflow-x: auto;
  }

  .lmain-content .user_table table{
      width: 700px;
  }
}
/*-responsive media query-*/

@media screen and (max-width:576px){

  .lmain-content .info-card .card{
      width: 100%;
  }
}

