.ad-container{
    background-color: #0c1e35;
    width: 100%;
    height: 100vh;
    overflow-x: auto;
  
}
.input{
  width: 100%; /* Set the desired width here */
}

.login-1 {
  width: 360px;
  padding: 10% 0 0;
  vertical-align: center;
  justify-content: center;
  margin: auto;
  font-family: 'Comfortaa', cursive;
  border-radius: 50px;

}

.ad-form {
  position: relative;
  z-index: 1;
  background: #b12e2e;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border-radius: 50px;
  background: #ffffff;
  /* box-shadow:  -11px 11px 22px #bebebe, 11px -11px 22px #ffffff; */
}

.ad-form input[type="text"],
.ad-form input[type="password"] {
  outline: 0;
  background: transparent;
  width: 100%; /* Set the desired width here */
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  border-bottom: 1px solid cadetblue;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
}

.ad-form input[type="text"]:focus,
.ad-form input[type="password"]:focus {
  /* background: #e0e0e0; */
}

.ad-form button {
  font-family: 'Comfortaa', cursive;
  
  outline: 0;
  background: #0c1e35;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin-top:15px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.ad-form button:active {
  background: #395591;
}