.search-bar {
    border-radius: 20px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #ffffff;
    color: black;
    font-family:"FontAwesome";
  } 
  .form-control curved-search{
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .side-panel {
    position: absolute;
    float: left;
    width: 20%;
    height: 100%;
    padding: 20px;
    background-color: #09f4c9;
    border-right: 1px solid #e9ecef;
  }
  
  .list-group {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .list-group-item {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .list-group-item:hover {
    background-color: #e9ecef;
  }
.navbar navbar-expand-lg navbar-dark bg-primary{
  position: fixed;
}  

/* UserSettingsPage.css */

.user-settings-page {
  position: relative;
  display: inline-block;
  width: 80%;
  background-color: #f2f2f2;
  padding: 20px;
  margin-left: 20%;
  flex-direction: column;
  align-items: center;
}

.ribbon {
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px;
}

.nav-tabs {
  padding: 0;
  margin: 0;
  justify-content: center;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  color: #343a40;
  text-decoration: none;
  padding: 10px 20px;
}

.nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid #343a40;
}


/* UserManagement.css */

.user-management {
  display: inline-block;
  width: 75%;
  background-color: #f2f2f2;
  padding: 20px;
  padding-left: 25%;
}

.user-management h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


/* Enrollment.css */
.enrollment {
  margin-left: auto;
  width: 80%;
  background-color: #f2f2f2;
  padding: 20px;
}

.card {
  flex-wrap: wrap;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 10px;
}

.card-title {
  margin-top: 0;
}

.btn {
  margin-top: 10px;
  margin-right: 5px;
}

/* PaymentInformation.css */

.payment-information {
  margin-left: auto;
  width: 80%;
  background-color: #f2f2f2;
  padding: 20px;
}

.payment-methods {
  margin-bottom: 20px;
}

.payment-method {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}

button {
  margin-top: 10px;
  width: fit-content;
}


/* Preferences.css */

.preferences {
  margin-left: auto;
  width: 80%;
  background-color: #f2f2f2;
  padding: 20px;
}

.header {
  margin-bottom: 20px;
}

.checkboxes {
  display: flex;
  flex-direction: column;
}

.checkboxes div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkboxes input[type='checkbox'] {
  margin-right: 10px;
}

.checkboxes input[type='checkbox']:disabled + label {
  color: gray;
}


/* Account deletion.css */

.account-deletion {
  margin-left: auto;
  width: 80%;
  background-color: #f2f2f2;
  padding: 20px;
}

.password-validation {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.password-validation input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
}

.password-validation .tick-mark {
  color: green;
  margin-left: 10px;
}

.password-validation .cross-mark {
  color: red;
  margin-left: 10px;
}

.delete-account {
  display: flex;
  justify-content: center;
}

.delete-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  color: #fff;
  background-color: gray;
}

.delete-button.enabled {
  background-color: red;
}

.confirmation-popup {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 20px;
}

.confirmation-popup p {
  margin-bottom: 10px;
}

.popup-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.popup-buttons button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  outline: none;
}


