




.AdminEvntAddCourse
{
    
position: relative;
left: 80%;


}


.tablerowButton
{
margin-left: 10px;
}



a{
   transform: scale(0.7);
 
}

.lessonaddmodal
{

   margin-top: 40px;
   
}