:root {
    --PrimaryColour:hsl(94,59%,35%);
    --HoverColor:#bdf094;
    --paleGreen:hsl(96,75%,89%);
    --whiteColor:hsl(0,0%,100%);
    --blackColor:hsl(0,0%,18%);
    --textcColor:hsl(240,1%,48%);
    --bgColor:hsl(220,10%,94%);
    --greyText:rgb(190,190,190);
    --inputColor:hsl(330,12%,97%);
  }
  
  .topSection .headerSection {
    justify-content: space-between;
    position:relative; 
    padding: 15px;
    border-radius: 10px;
    margin-top: -8px;
  }
  .topSection .headerSection .title h1 {
    font-size: 1.5rem;
    color: #E40C2B;
    font-weight: 700;
  }
  .topSection .headerSection .title p {
    font-size: 0.938rem;
    color: var(--textcColor);
    font-weight: 500;
  }
  .topSection .headerSection .searchBar {
    padding: .3rem 3rem;
    background: var(--whiteColor);
    border-radius: 5px;
    gap: 1rem;
    box-shadow: 0 2px 4px var(--inputColor);
  }
  .topSection .headerSection .searchBar input {
    border: none;
    outline: none;
    background: none;
  }
  .topSection .headerSection .searchBar .icon {
    color: var(--textcColor);
  }
  .topSection .headerSection .searchBar .icon:hover {
    color: var(--PrimaryColour);
  }
  .topSection .headerSection .adminDiv {
    gap: 1rem;
  }
  .topSection .headerSection .adminDiv .icon {
    font-size: 2.5rem;
    background: grey;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 2px 4px var(--inputColor);
    color: yellow;
  }
  .topSection .headerSection .adminDiv .adminImage {
    border: 3px solid solid var(--whiteColor);
    border-radius: 10px;
    width: 2.7rem;
    overflow: hidden;
    cursor: pointer;
   
  }
  .topSection .headerSection .adminDiv .adminImage img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--whiteColor);
  }
  .topSection .cardSection {
    margin-top: 3rem;
    gap: 1rem;
   
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
  }
  .topSection .cardSection .rightCard {
    position: relative;
    flex-basis: 70%;
    height: 200px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
    padding: 2rem;
    border-radius: 1rem;
    overflow: hidden;
  
  }
  .topSection .cardSection .rightCard .videoDiv {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .topSection .cardSection .rightCard .videoDiv video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .topSection .cardSection .rightCard h1, .topSection .cardSection .rightCard p, .topSection .cardSection .rightCard .btn {
    z-index: 100;
  }
  .topSection .cardSection .rightCard h1 {
    font-size: 1.5em;
    color: var(--whiteColor);
    font-weight: 800;
  }
  .topSection .cardSection .rightCard p {
    padding: 1rem;
    color: var(--paleGreen);
    font-weight: 500;
  }
  .topSection .cardSection .rightCard .buttons {
    gap: 1rem;
  }
  .topSection .cardSection .rightCard .buttons .btn {
    box-shadow: none;
    padding: 0.8rem 1.5rem;
    color: var(--PrimaryColour);
    border: 2px solid transparent;
  }
  .topSection .cardSection .rightCard .buttons .transparent {
    background: none;
    border: 2px solid var(--paleGreen);
    color: var(--paleGreen);
  }
  .topSection .cardSection .rightCard .buttons .transparent:hover {
    background: var(--paleGreen);
    color: var(--PrimaryColour);
  }
  .topSection .cardSection .leftCard {
    flex-basis: 30%;
    
    border-radius: 5px;
    margin-top: -45px;
  }
  .link{
    color: #000;
  }
  .topSection .cardSection .leftCard h3 {
    text-align: left;
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  .topSection .cardSection .leftCard .main {
    position: relative;
    padding: 1rem;
    height: 200px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .topSection .cardSection .leftCard .image {
    border: 3px solid solid var(--whiteColor);
    border-radius: 10px;
    width: 2.4rem;
    overflow: hidden;
    margin-left: -15px;
  }
  .topSection .cardSection .leftCard img {
    width: 100%;
    height: 100%;
    border-radius: 20%;
  }
  .topSection .cardSection .leftCard .updates {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .topSection .cardSection .leftCard .updates p {
    font-size: 0.938rem;
    padding: 5px;
    cursor: pointer;
  }
  .topSection .cardSection .leftCard .updates span {
    font-size: 10px;
  }/*# sourceMappingURL=Top.css.map */
  .flex{
    display: flex;
    align-items: center;
}@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat',sans-serif;
    transition: .3s ease;
}
:root{
    --PrimaryColour:hsl(94,59%,35%);
    --HoverColor:#bdf094;
    --paleGreen:hsl(96,75%,89%);
    --whiteColor:hsl(0,0%,100%);
    --blackColor:hsl(0,0%,18%);
    --textcColor:hsl(240,1%,48%);
    --bgColor:hsl(220,10%,94%);
    --greyText:rgb(190,190,190);
    --inputColor:hsl(330,12%,97%);
}

html{
    font-size: 90%;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.icon{
    font-size: 1.25rem;
}
img{
    width: 100%;
    height: auto;
}
.flex{
    display: flex;
    align-items: center;
}
.grid{
    display: grid;
    align-items: center;
    gap: 1.5rem;
}
.btn{
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 4px hsl(330, 12%, 97%);
    padding: .8rem 1rem;
    color:  hsl(240, 1%, 48%);
}
.btn .icon{
    margin-left: .5rem;
}
.btn:hover{
    background: hsl(96, 75%, 89%);
    color: hsl(94, 59%, 35%);
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}
.abccontainer{
    position: fixed;
    width: 100vw;
    height: 98vh;
    margin-left: -630px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #AAAA;
    
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 2px 2px 8px rgb(190, 190, 190);
}
::-webkit-scrollbar{
    display: none ;
}