:root {
  --font: 'Montserrat', system-ui, sans-serif;
  --max-width: 100%;
  --i-padding: 0.6rem;
  --o-padding: 1.6rem;
  --radius: 10px;
  --max-radius: 40px;
  --c-lighter: #b1d0e050;
  --c-light: #b1d0e050;
  --c-medium: #6998ab60;
  --c-dark: #40688290;
  --c-darker: #40688260;
  --c-elements: #b1d0e0;
  --c-bg-elements: #0004;
  --c-card-main: #b1d0e090;
  --c-card-side: #b1d0e040;
}



body{
  background-color: #ffffff;
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

/* Hide the scrollbar */
main .menu::-webkit-scrollbar {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main{
  width:min(100%,950px);
  display: grid;
  grid-template-areas: 
  "head head head"
  "side content content"
  "foot foot foot";
}

header {grid-area: head;}
aside {grid-area: content;}
article {grid-area: side;}
footer {grid-area: foot;}



.navbar {
  position: fixed;
  top: 0;
  left: 0;
  min-height:70px;
  max-width: 100rem;
  background-color: #ffffff ;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 6px 20px -6px  rgba(255, 255, 255, 0);
  border-bottom: solid 2px var(--c-lighter);
  overflow-block: hidden;
  z-index: 2;


  /*  .hamburgerlogowrap {
     display: flex;
     align-items: center;
   }
   .hamburger {
     display: none;
     color: #D7D7D7;
     background-color: #1F1D2B;
     border: none;
     margin-right: 10px;
   }
   .createbtn {
     cursor: pointer;
     background-color: transparent;
     border: none;
     width: 126px;
     height: 45px;
     color: #BCBCBC;
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 500;
     font-size: 12px;
     &.selectedbtn {
       border: 1px solid #db2d2d;
       border-radius: 10px;
     }
   } */
  .navlogo {
    max-height: 100rem;
    background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
  }
  .navlink {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #919191;
    
    &:not(:last-child) {
      margin-right: 32px;
    }
  }
   .navlink:active{
    position: relative;
    color: #2abb67;
   }
}



main .menu {
  margin-top: 69px; /* Adjust the margin-top value to leave space below the fixed header */
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color:rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  width: 62px;
  max-height: 100rem;
  justify-content: space-between;
  padding: 1%;
  transition: all 0.3s ease;
  z-index: 2;
  backdrop-filter: blur(1rem);
  border-right: solid 2px var(--c-lighter);
  overflow-y: auto;
  /* overflow: hidden; */
}
.navbar {
 
}
main .menu:hover,
main .menu:active {
  width: 11.5rem;
  /* border-radius: 0 var(--radius) var(--radius) 0; */
}

/* main .menu .avatar {
  display: flex;
  align-items: center;
  gap: 10px;
}

main .menu .avatar .thumb {
  border-radius: 50%;
  width: 100%;
  max-width: 60px;
}

main .menu .avatar .name {
  color: var(--c-elements);
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: all 0.2s ease;
}

main .menu:hover .avatar .name,
main .menu:active .avatar .name {
  opacity: 1;
  visibility: visible;
} */

main .menu .primary {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

main .menu .primary .menu-item {
  font-weight: 400;
  text-decoration: none;
  /* color: var(--c-elements); */
  color: #919191;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 50%;
  max-width: 40px;
  max-height: 40px;
  margin-top: 15px;
}

main .menu:hover .primary .menu-item,
main .menu:active .primary .menu-item {
  /* width: 100%; */
  /* border-radius: var(--max-radius); */
}

main .menu .primary .menu-item:hover {
  color:#2abb67 ;
}

main .menu .primary .menu-item span:first-child {
  font-size: 21px;
}

main .menu .primary .menu-item .desc {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}

main .menu:hover .primary .menu-item .desc,
main .menu:active .primary .menu-item .desc {
  opacity: 1;
  visibility: visible;
}

.menu-item.active {
  color:#2abb67 !important;
  /* border-radius: var(--max-radius); */
}

.menu-item {
  border: none;
}

.icon {
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  padding-left: 10px;
  margin-top: 4px;
}


@media (min-width: 728px) {
  :root {
    --i-padding: 1rem;
    --o-padding: 2rem;
  }
  
  main {
    padding-left: 24px;
  }
  
  main .menu {
    width: 74px;
    height: 100%;
  }

  /* main .menu .avatar {
    flex-wrap: wrap;
    justify-content: center;
  }

  main .menu .avatar .thumb {
    max-width: 70px;
  } */
}
